body{
	background-color: #333;
}
#create-camera-button {
	background-color: #999;

}
#create-sensor-button {
	background-color: #888;
}
#create-terminal-button {
	background-color: #777;
}
#create-gate-button {
	background-color: #666;
}
#create-qrScanner-button {
	background-color: #555;
}
.camera {
	background-color: red;
	height: 95px;
	width: 95px;
	margin: 10px 10px 10px 10px;
	border-radius: 10px;
	box-shadow: 0 0 .9em #333;
	display: inline-block;
}
