html(ng-app="camera-device")
  head
    title Chris the camera
    script(src="/vendor/lodash/dist/lodash.min.js")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src="/socket.io/socket.io.js")
    script(src="/vendor/jquery/dist/jquery.min.js")
    script(src="/vendor/angular/angular.js")
    script(src="/vendor/bootstrap/dist/js/bootstrap.js")
    link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.css")


    script(src='/js/socket.js')
    link(rel="stylesheet" type="text/css" href="/vendor/angular-object-table/build/object-table-style.css")
    script(type="text/javascript" src="/vendor/angular-object-table/build/object-table.js")
    script(src='/js/directives.js')
    script(src="/js/camera.js")
  body(ng-controller="CameraController")
    .container
      is-device(state="state" saved-state="savedState")
        table.table.table-condensed.table-striped
          tr(ng-repeat="(key, value) in state.status")
            td {{key}}
            td {{value}}
            td 
              button#toggle-gate(ng-click="toggleStatus(key, value)") press to toggle state
