html(ng-app="gate-device")
  head
    title Garry the gate
    script(src="/vendor/lodash/dist/lodash.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/vendor/jquery/dist/jquery.min.js")
    script(src="/vendor/angular/angular.js")
    script(src="/vendor/bootstrap/dist/js/bootstrap.js")
    link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.css")


    script(src='/js/socket.js')
    script(src='/js/directives.js')
    script(src="/js/gate.js")
  body(ng-controller="GateController")
    h1#gate-status {{past(status)}}
    button#toggle-gate(ng-click="toggleStatus()") press me to {{opposite(status)}}
   is-device(type="'gate'")
