html(ng-app="gate-device")
  head
    title Garry the gate
    script(src="/vendor/lodash/dist/lodash.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/vendor/jquery/dist/jquery.min.js")
    script(src="/vendor/angular/angular.js")
    script(src="/vendor/bootstrap/dist/js/bootstrap.js")
    link(href="/vendor/bootstrap/dist/css/bootstrap.css")
    script(src='/js/socket.js')
    script(src="/js/gate.js")
  body(ng-controller="GateController")
    h2#gate-status {{status}}
    input(ng_model="name")
    button(ng_click="register()") Register
    br
    br
    h4 {{registrationStatus}}
    button#open-gate(ng_click="open()") open
    button#close-gate(ng_click="close()") close
