html(ng-app="gate-device")
  head
    title Garry the gate
    script(src="/vendor/lodash/dist/lodash.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/vendor/jquery/dist/jquery.min.js")
    script(src="/vendor/angular/angular.js")
    script(src="/vendor/bootstrap/dist/js/bootstrap.js")
    link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.css")


    script(src='/js/socket.js')
    script(src='/js/directives.js')
    script(src="/js/gate.js")
  body(ng-controller="GateController")
    is-device(type="'gate'" state="status" update='updateState(state())')
      table.table.table-condensed.table-striped
        tr
          th Variable
          th Value
          th Actions
        tr
          td arm
          td {{armState()}}
          td 
            button#toggle-gate(ng-click="toggleStatus()") press me to {{action(opposite(status))}}
