doctype
html
    head
        title Device Panel
        script(src="/socket.io/socket.io.js")
        script(src="/vendor/jquery/dist/jquery.min.js")
        script(src="/vendor/lodash/dist/lodash.min.js")
        link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.min.css")
        script(src='/vendor/angular/angular.js')
        link(href="/vendor/angular-xeditable/dist/css/xeditable.css" rel="stylesheet")
        script(src="/vendor/angular-xeditable/dist/js/xeditable.js")
        link(rel="stylesheet", href="/css/style.css")
    body
        .container
            .row
                h1 Main Menu
                a.btn.btn-warning(href="/devices/panel") Panel
                a.btn.btn-danger(href="/devices/panel") Panel
                a.btn.btn-success(href="/devices/panel") Panel
                a.btn.btn-primary(href="/devices/panel") Panel
                a.btn.btn-info(href="/devices/panel") Panel
                a.btn.btn-default(href="/devices/panel") Panel

