doctype
html
    head
        title Device Panel
        script(src="/socket.io/socket.io.js")
        script(src="/vendor/jquery/dist/jquery.min.js")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        script(src="/vendor/lodash/dist/lodash.min.js")
        link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.min.css")
        script(src='/vendor/angular/angular.js')
        link(rel="stylesheet", href="/css/style.css")
        link(rel="stylesheet", href="/css/style.css")
        link(rel="stylesheet", href="/css/style.css")
        script(src="https://www.gstatic.com/charts/loader.js")
        script(src="/js/chart.js")
    
    body
        #visualization(style="width: 2000px; height: 500px")
        .container
            .row
                h1 Main Menu
                a.btn.btn-warning(href="/devices/panel") Panel
                a.btn.btn-warning(href="/devices/panel" style='margin-left: 10px;') About the Authors
                a.btn.btn-danger(href="/devices/panel" style='margin-left: 10px;', ng-model) Galaxy Garage
            #curve_chart(style="width: 900px; height: 500px")
            button#b1 Refresh
