doctype
html
    head
        title Device Panel
        script(src="/socket.io/socket.io.js")
        script(src="/vendor/jquery/dist/jquery.min.js")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        script(src="/vendor/lodash/dist/lodash.min.js")
        link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.min.css")
        script(src='/vendor/angular/angular.js')
        link(href="/vendor/angular-xeditable/dist/css/xeditable.css" rel="stylesheet")
        script(src="/vendor/angular-xeditable/dist/js/xeditable.js")
        link(rel="stylesheet", href="/css/style.css")
        link(rel="stylesheet", href="/public/css/style.css")
        link(rel="stylesheet", href="/css/style.css")
    
    body
        .container
            .row
                h1 Main Menu
                a.btn.btn-warning(href="/devices/panel") Panel
                a.btn.btn-warning(href="/devices/panel") About the Authors
                a.btn.btn-danger(href="/devices/panel", ng-model) Galaxy Garage
                


