html(ng-app="device-dash")
    head
        title this is awesome
        script(src="/socket.io/socket.io.js")
        script(src="/vendor/jquery/dist/jquery.min.js")
        script(src="/vendor/lodash/dist/lodash.min.js")
        link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.min.css")
        script(src='/vendor/angular/angular.js')
        link(rel="stylesheet", href="/css/style.css")

        script(src="/js/deviceviews.js")
        script(src="/js/socket.js")
        script(src="/js/device.js")
    body(ng-controller="DashController")
        .container
            .row
                .col-sm-12.col-md-6
                    #camera-information.panel.panel-default
                        .panel-heading
                            h4 Cameras
                        .row
                            #camera-container
                .col-sm-12.col-md-6
                    #sensor-information.panel.panel-default
                        .panel-heading
                            h4 Sensors
                        .row
                            #sensor-container
                .col-sm-12.col-md-6
                    #terminal-information.panel.panel-default
                        .panel-heading
                            h4 Terminals
                        .row
                            #terminal-container
                .col-sm-12.col-md-6
                    #gate-information.panel.panel-default
                        .panel-heading
                            h4 Gates
                        .row
                            #gate-container.col-md-3(ng_repeat="g in gate")

                                .thumbnail
                                    .caption
                                        h3 {{g}}
                                        p this is some bs
                                        a.btn.btn-primary signal

                .col-sm-12.col-md-6
                    #qr-scanner-information.panel.panel-default
                        .panel-heading
                            h4 QR Scanners
                        .row
                            #qrScanner-container
