html(ng-app='sensor-view')
  head
    title Sarah the sensor
    script(src="/socket.io/socket.io.js")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src="/vendor/jquery/dist/jquery.min.js")
    script(src="/vendor/lodash/dist/lodash.min.js")
    script(src='/vendor/angular/angular.js')
    script(src='/vendor/angular-route/angular-route.js')
    script(src="/vendor/bootstrap/dist/js/bootstrap.js")
    link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet", href="/css/style.css")
    script(src='/js/socket.js')
    script(src='/js/directives.js')
    script(src="/js/sensor.js")
  body(ng-controller="SensorController")
    .container
      is-device(state="state", saved-state="savedState")
        table.table.table-condensed.table-striped
          tr(ng-repeat="(key, value) in state.status")
            td {{key}}
            td {{value}}
            td 
              button#toggle-gate(ng-click="toggleState(key, value)") press to toggle state
