html(ng-app='terminal-view')
  head
    title Ted the terminal
    script(src="/socket.io/socket.io.js")
    script(src="/vendor/jquery/dist/jquery.min.js")
    script(src="/vendor/lodash/dist/lodash.min.js")
    script(src='/vendor/angular/angular.js')
    script(src="/vendor/bootstrap/dist/js/bootstrap.js")
    link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.css")
    script(src='/js/socket.js')
    script(src='/js/directives.js')
    script(src="/js/terminal.js")
  body(ng-controller="terminalController")
    .row
      is-device.col-sm-12(type="'terminal'", state="state")
        table.table.table-responsive.table-striped
          tr
            th Variable
            th Value
            th Actions
          tr
            td qr-data
            td "Not done"
            td 
              button#toggle-gate(ng-click="toggleStatus()") press me to send qr
      //h2 Device Name:
      //h1(ng-bind="devName")
      //h2 Device Status:
      //h1(ng-bind="status")
      //input(type="text", ng-model="devName", placeholder="Device Name")
      //button#walkin Walkin
      //button#qr Reservation
      //button#power Power
