body{
 // background-color: #777;
  background: red;    
  background: -webkit-linear-gradient(left top, red, blue); 
  background: -o-linear-gradient(bottom right, red, blue); 
  background: -moz-linear-gradient(bottom right, red, blue); 
  background: linear-gradient(to bottom right, red, blue);
}

.panel-heading{
  background: red;    
  background: -webkit-linear-gradient(left top, red, #555); 
  background: -o-linear-gradient(bottom right, red, #555); 
  background: -moz-linear-gradient(bottom right, red, #555); 
  background: linear-gradient(to bottom right, red, #555);
}

h2{
  color: white;
}

#galaxyLogo
